<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Product</title>
    <link rel="stylesheet" href="../../resources/css/style.css">

</head>
<body>
<h1 class="title">Create Product</h1>
<p>
    <a class="title" href="/products">Product list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/save-product}" th:object="${productform}" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td>Create Date:</td>
            <td><input type="date" th:field="*{createDate}" /></td>
        </tr>
        <tr>
            <td>Image:</td>
            <td><input type="file" th:field="*{image}"/></td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Price:</td>
            <td><input type="text" th:field="*{price}"/></td>
        </tr>
        <tr>
            <td>Quantity:</td>
            <td><input type="text" th:field="*{quantity}"/></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><input type="text" th:field="*{description}"/></td>
        </tr>
        <tr>
            <td>Active:</td>
            <td><input type="text" th:field="*{active}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create Product"></td>
        </tr>
    </table>
</form>
</body>
</html>